.rc-table-body table {
	width: 100%;
}

.rc-table th, .rc-table td {
	text-align: center;
	width: calc(100% / 6);
}

.empty-table {
	display: inline-block;
	width: 100%;
	text-align: center;
}

label {
	margin-left: 8pt;
}