/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 3.5em;
}
.cv-link {
  display: none;
}
.panel-container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 6em);
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}
.cv-panel, .details-panel {
  overflow: auto;
  height: auto;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.cv-panel object{
  width: 100%;
  min-height: 100%;
}
.cv-panel {
  width: 60%;
}
.details-panel {
  width: 40%;
  padding: 1em;
}

@media screen and (max-width: 900px) {
  /**
   * Below 900px wide, trying to fit a PDF readbly
   * into the page is not feasible. Link to it instead
  */
 .cv-panel {
  display: none;
  /* Note this also stops the embedded PDF from loading immediately */
 }
 .details-panel {
  width: 100%;
 }
 .cv-link {
  display: block;
 }
}

.details-panel a:visited {
  text-decoration: line-through;
}
.footer {
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 3.5em;
  background-color: #f5f5f5;
}
.next-button {
  float: right;
}

@media screen and (max-width: 575px) {
  /**
   * When the form breaks into multiple rows,
   * ditch the embedded scrolling panel behaviour
   * and tidy up the form
   */
  .panel-container {
    display: block;
    height: auto;
  }
  .footer {
    height: auto;
    position: static;
  }
  body {
    margin-bottom: auto;
  }
  .next-button {
    float: none;
  }
}